*{
    margin: 0;
    padding: 0;
  }
  
body {
    box-sizing: border-box;
}

#mit {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.valid {
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
}

.bomb {
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
  }